.footer {
    background-color: #F9F9F9;
    padding: 1em 0;
    a {
        color: #3247B2;
    }
    ul {
        display: inline-block;
        li {
            display: inline-block;
            margin: 0 5px;
        }
    }
}