.hero {
    @extend .bg-cover;
    height: 500px;
    width: 100%;
    position: relative;
    color: #fff;
    &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 60%;
        height: 10px;
        background-color:#232C60;
        z-index: 1;
    }
    &--home {
        height: 800px;
        background-image: url('/assets/images/home/hero.jpg');
        &:before {
            @extend .bg-cover;
            content: '';
            background-image: url('/assets/images/arrows-right.png');
            position: absolute;
            top: 0;
            right: 0;
            bottom:0;
            left:0;

        }
        &:after {
            display: none;
        }
    }
    &--noleggio {
        background-image: url('/assets/images/noleggio/hero.jpg');
    }
    &--energy {
        background-image: url('/assets/images/energy/hero.jpg');
    }
    &--cartelle {}
    &--chiSiamo {}
    &--contacts {background-image: url('/assets/images/contacts/hero.jpg');}
    &--tech {background-image: url('/assets/images/tech/hero.jpg');}
    &--green {}
   
}