<html>

<head>
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/stylesheets/main.css">
</head>

<body class="home">
    <div id="home">


        <nav class="navBar ">
            <div class="container d-flex align-items-center position-relative">
                <a href="/"><img src="/assets/images/logo.svg" alt="Movim logo" class="logo"></a>
                <div class="hamburger" v-bind:class="{ 'hamburger--active': openMenu }" v-on:click="openMenu = !openMenu">
                    <div class="hamburger__box">
                        <div class="hamburger__inner"></div>
                    </div>
                </div>
                <transition name="slide-fade">
                    <ul class="menu" v-if="openMenu">
                        <vue-item v-for="item in items" v-bind:item="item" v-on:click="active = !active"></vue-item>
                    </ul>
                </transition>
            </div>
        </nav>

        <vue-hero class="hero hero--home d-flex align-items-center" v-bind:hero="heros.home"></vue-hero>

        <div class="bg-arrows-left p-t-4 p-b-4">
            <div class="container">
                <div class="row m-b-4">
                    <div class="offset-lg-6 col-lg-4 text-center text-lg-left ">
                        <small>COSA FACCIAMO ?</small>
                        <h3>Cosa offriamo alla <span class="font-weight-bold">tua impresa</span> </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 px-5 mt-4 mt-lg-0 ml-lg-auto text-center">
                        <img src="/assets/images/icons/user.svg" alt="" class="icon">
                        <h6 class="font-weight-bold my-2">Noleggio continuativo</h6>
                        <p class="font-size-08">Passa al noleggio e risparmia sull’acquisto dei mezzi per la tua azienda</p>
                    </div>
                    <div class="col-lg-3 px-5 mt-4 mt-lg-0 text-center">
                        <img src="/assets/images/icons/map.svg" alt="" class="icon">
                        <h6 class="font-weight-bold my-2">Energy</h6>
                        <p class="font-size-08">Scopri i vantaggi dell’efficentamento energetico. Chiedi una consulenza gratuita</p>
                    </div>
                    <div class="col-lg-3 px-5 mt-4 mt-lg-0 mr-lg-auto text-center">
                        <img src="/assets/images/icons/law.svg" alt="" class="icon">
                        <h6 class="font-weight-bold my-2">Tech</h6>
                        <p class="font-size-08">la fatturazione elettronica sarò un obbligo da gennaio 2018. Ottieni un anno gratuito per la tua azienda</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-t-4 p-b-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="container">
                        <div class="row">
                            <div class="offset-lg-1 col-lg-6 text-center text-lg-left">
                                <small>NOLEGGIO CONTINUATIVO</small>
                                <h4 class="font-weight-light">Facile con il <span class="font-weight-bold">noleggio continuativo</span> </h4>
                            </div>
                        </div>
                    </div>

                    <div class="row bg-cars mb-4"></div>

                    <div class="container">
                        <div class="row">
                            <div class="offset-lg-1 col-lg-6">
                                <p class="font-weight-light font-size-08 mb-4">Il noleggio è un nuovo modo di avere un’auto pagando una rata mensile e non doversi preoccupare della sua gestione oltre che della sua manutenzione</p>
                                <span class="borderButton borderButton--lightBlue">
                                    <a href="/noleggio.html" class="btn btn-blue1 border-radius-50 font-size-08">Scori di più</a>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="container">
                        <div class="row mb-3">
                            <div class="offset-lg-4 col-lg-3 bg-blue1 p-3 text-center box-shadow">
                                <h6>Scegli la tua auto</h6>
                                <p class="font-size-06 font-weight-light">Abbiamo tutte le marche</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="offset-lg-4 col-lg-3 bg-blue1 p-3 text-center box-shadow">
                                <h6>Configurala in base alle tue esigenze</h6>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="offset-lg-4 col-lg-3 bg-blue1 p-3 text-center box-shadow">
                                <h6>Scegli quanto spendere</h6>
                                <p class="font-size-06 font-weight-light">Un preventivo ad hoc</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-blue1 p-t-4 p-b-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-right">
                        <img src="/assets/images/home/cartelle.png" alt="" class="width-80">
                    </div>
                    <div class="col-lg-3 mt-4 mt-lg-0">
                        <small>I SERVIZI</small>
                        <h5 class="font-weight-light mb-2"> Efficentamento   <span class="font-weight-bold"> energetico</span></h5>
                        <p class="font-size-08 mb-3">Efficientare la tua azienda è un investimento sul futuro della stesa ma soprattutto conviene. Richiedi una consulenza gratuita per revisionare le tue spese e le tue strutture</p>
                        <span class="borderButton borderButton--lightBlue">
                                <a href="" class="btn btn-white border-radius-50 font-size-08">Scori di più</a>
                            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class=" p-t-4 p-b-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-right">
                        <img src="/assets/images/home/digital.png" alt="" class="width-80">
                    </div>
                    <div class="col-lg-3 mt-4 mt-lg-0">
                        <small>I SERVIZI</small>
                        <h5 class="font-weight-light mb-2"> Fatturazione  <span class="font-weight-bold"> elettronica</span></h5>
                        <p class="font-size-08 mb-3">Dal 1 Gennaio 2018 sarà obbligatorio utilizzarla. Vogliamo fornire ai nostri clienti uno strumento gratuito per cominciare ad utilizzarla per essere pronti al nuovo cambiamento.</p>
                        <span class="borderButton borderButton--lightBlue">
                                <a href="" class="btn btn-blue1 border-radius-50 font-size-08">Scori di più</a>
                            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-arrows-left p-t-4 p-b-4">
            <div class="container">
                <div class="row pb-4">
                    <div class="col-lg-9 mx-auto p-lg-0 text-center text-lg-left">
                        <h3>Mettiti in contatto <br> <span class="font-weight-bold">con noi</span> </h3>
                    </div>
                </div>
                <div class="row">


                    <div class="col-lg-9 mx-auto bg-blue1 p-6 position-relative">
                        <div class="arrow-mask"></div>
                        <div class="row">
                            <div class="col-lg-4 p-4">
                                <h5 class="borderDotted borderDotted--white">Torino</h5>
                                <p>Corso Galileo Ferraris 58/bis, 10128 Torino TO</p>
                                <p>tel: 011-4535353</p>
                                <p>info@movim.it</p>
                            </div>
                            <div class="col-lg-6 ml-lg-auto">
                                <div class="bg-white text-center p-4">
                                    <h4>Vuoi aprire il tuo?</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis ultrices sapien, e</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <vue-footer></vue-footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./assets/js/vendors.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="./assets/js/vue.js"></script>
    <script type="text/javascript" src="./assets/js/app.js"></script>
</body>

</html>
