<html>

<head>
    <title>Movim</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="./assets/stylesheets/main.css">
</head>

<body class="home">
    <nav class="" id="navBar">
        <div class="container d-flex align-items-center position-relative">
            <a href="#"><img src="/assets/images/logo.svg" alt="Movim logo" class="logo"></a>
            <div class="hamburger" v-bind:class="{ 'hamburger--active': openMenu }" v-on:click="openMenu = !openMenu">
                <div class="hamburger__box">
                    <div class="hamburger__inner"></div>
                </div>
            </div>
            <transition name="slide-fade">
                <ul class="menu" v-if="openMenu">
                    <vue-item v-for="item in items" v-bind:item="item" v-on:click="active = !active"></vue-item>
                </ul>
            </transition>
        </div>
    </nav>
    <div id="hero">
        <vue-hero class="hero hero--home d-flex align-items-center" v-bind:hero="heros.home"></vue-hero>
    </div>
    <div class="bg-arrows-left p-t-4 p-b-4">
        <div class="container">
            <div class="row m-b-4">
                <div class="offset-lg-6 col-lg-4">
                    <small>01 COSA FACCIAMO</small>
                    <h3>Cosa offriamo alla <span class="font-weight-bold">tua impresa</span> </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 px-4 ml-lg-auto text-center">
                    <img src="/assets/images/icons/map.svg" alt="" class="icon">
                    <h6 class="font-weight-bold my-2">Nuovi orizzonti</h6>
                    <p class="font-size">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsum suscipit quibusdam qui? Quidem, vitae quia debitis eaque totam voluptas</p>
                </div>
                <div class="col-lg-3 px-4 text-center">
                    <img src="/assets/images/icons/map.svg" alt="" class="icon">
                    <h6 class="font-weight-bold my-2">Nuovi orizzonti</h6>
                    <p class="font-size">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsum suscipit quibusdam qui? Quidem, vitae quia debitis eaque totam voluptas</p>
                </div>
                <div class="col-lg-3 px-4 mr-lg-auto text-center">
                    <img src="/assets/images/icons/map.svg" alt="" class="icon">
                    <h6 class="font-weight-bold my-2">Nuovi orizzonti</h6>
                    <p class="font-size">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsum suscipit quibusdam qui? Quidem, vitae quia debitis eaque totam voluptas</p>
                </div>
            </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./assets/js/vendors.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="./assets/js/vue.js"></script>
    <script type="text/javascript" src="./assets/js/app.js"></script>
</body>

</html>