<html>

<head>
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/stylesheets/main.css">
</head>

<body class="noleggio">
    <div id="app">


        <nav class="navBar ">
            <div class="container d-flex align-items-center position-relative">
                <a href="/"><img src="/assets/images/logo.svg" alt="Movim logo" class="logo"></a>
                <div class="hamburger" v-bind:class="{ 'hamburger--active': openMenu }" v-on:click="openMenu = !openMenu">
                    <div class="hamburger__box">
                        <div class="hamburger__inner"></div>
                    </div>
                </div>
                <transition name="slide-fade">
                    <ul class="menu" v-if="openMenu">
                        <vue-item v-for="item in items" v-bind:item="item" v-on:click="active = !active"></vue-item>
                    </ul>
                </transition>
            </div>
        </nav>

        <vue-hero class="hero hero--noleggio d-flex align-items-center" v-bind:hero="heros.home"></vue-hero>
        <div class="bg-arrows-left p-t-4 p-b-4 text-blue">
            <div class="container">
                <div class="row m-b-4">
                    <div class="col-lg-4 offset-lg-2">
                        <small>01 COSA FACCIAMO</small>
                        <h3>Cosa offriamo alla <span class="font-weight-bold">tua impresa</span> </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 offset-lg-1 mb-4">
                        <div class="media">
                            <img src="/assets/images/icons/car.svg" alt="" class="icon">
                            <div class="media-body ml-4">
                                <h5 class="mt-0">Scelgi l’auto</h5>
                                Scegli l’auto che preferisci fra tutti i marchi (oltre 50).
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 mb-4">
                        <div class="media">
                            <img src="/assets/images/icons/dash.svg" alt="" class="icon">
                            <div class="media-body ml-4">
                                <h5 class="mt-0">Configura le caratteristiche</h5>
                                Puoi avere la configurazione che preferisci. Contattaci per un preventivo gratuito
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1 mt-4 mb-4">
                        <div class="media">
                            <img src="/assets/images/icons/key.svg" alt="" class="icon">
                            <div class="media-body ml-4">
                                <h5 class="mt-0">Scegli la rata</h5>
                                A seconda delle caratteristiche che scegli la rata può scendere o salire, possiamo effettuare un preventivo basato sul budget di spesa.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-blue1 pt-5 pb-5">


            <div class="owl-carousel">
                <div class="container car">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-2">
                            <div class="bg-white d-flex align-items-center justify-content-center">
                                <div class="row">
                                    <div class="col-lg-5 mb-4 d-flex align-items-center justify-content-center ">
                                        <img src="./assets/images/noleggio/nissan-qashqai.png" alt="" class="car__img">
                                    </div>
                                    <div class="col-lg-7 mb-4 d-flex align-items-center justify-content-center ">
                                        <div class=" pr-lg-5">
                                            <p class="car__row"><span class="font-weight-bold">Cambio: </span><span class="font-weight-light">Automatico</span></p>
                                            <p class="car__row"><span class="font-weight-bold">Caratteristiche: </span><span class="font-weight-light">1.5</span></p>
                                            <p class="car__row"><span class="font-weight-bold">Carburante: </span><span class="font-weight-light">Diesel</span></p>
                                            <p class="car__row"><span class="font-weight-bold">Porte: </span><span class="font-weight-light">5</span></p>
                                            <p class="car__row"><span class="font-weight-bold">Anni contratto: </span><span class="font-weight-light">2</span></p>
                                        </div>

                                    </div>


                                </div>
                                <div class=" car__model">
                                    Nissan Qashqai
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 ">
                            <div class="bg-blue2 pt-4 pb-4  text-center d-flex align-items-center justify-content-center ">
                                <div>
                                    <div class="car__info">
                                        <h6>Mesi</h6>
                                        <p>48</p>
                                    </div>
                                    <div class="car__info">
                                        <h6>Km</h6>
                                        <p>25000 all’anno</p>
                                    </div>
                                    <div class="car__info">
                                        <h6>Anticipo</h6>
                                        <p>0</p>
                                    </div>
                                    <div class="car__price">
                                        <h6>391,00 €/m</h6>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container car">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-2">
                            <div class="bg-white d-flex align-items-center justify-content-center">
                                <div class="row">
                                    <div class="col-lg-5 mb-4 d-flex align-items-center justify-content-center ">
                                        <img src="./assets/images/noleggio/peugeot_3008.jpg" alt="" class="car__img">
                                    </div>
                                    <div class="col-lg-7 mb-4 d-flex align-items-center justify-content-center ">
                                        <div class=" pr-lg-5">
                                            <p class="car__row"><span class="font-weight-bold">Cambio: </span><span class="font-weight-light">manuale</span></p>
                                            <p class="car__row"><span class="font-weight-bold">Caratteristiche: </span><span class="font-weight-light">Blue HDI 120</span></p>
                                            <p class="car__row"><span class="font-weight-bold">Carburante: </span><span class="font-weight-light">Diesel</span></p>
                                            <p class="car__row"><span class="font-weight-bold">Porte: </span><span class="font-weight-light">5</span></p>
                                            <p class="car__row"><span class="font-weight-bold">Anni contratto: </span><span class="font-weight-light">2</span></p>
                                        </div>

                                    </div>


                                </div>
                                <div class=" car__model">
                                    peugeot 3008
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 ">
                            <div class="bg-blue2 pt-4 pb-4  text-center d-flex align-items-center justify-content-center ">
                                <div>
                                    <div class="car__info">
                                        <h6>Mesi</h6>
                                        <p>48</p>
                                    </div>
                                    <div class="car__info">
                                        <h6>Km</h6>
                                        <p>25000 all’anno</p>
                                    </div>
                                    <div class="car__info">
                                        <h6>Anticipo</h6>
                                        <p>2000€</p>
                                    </div>
                                    <div class="car__price">
                                        <h6>403,00 €/m</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container car">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-2">
                            <div class="bg-white d-flex align-items-center justify-content-center">
                                <div class="row">
                                    <div class="col-lg-5 mb-4 d-flex align-items-center justify-content-center ">
                                        <img src="./assets/images/noleggio/panda.png" alt="" class="car__img">
                                    </div>
                                    <div class="col-lg-7 mb-4 d-flex align-items-center justify-content-center ">
                                        <div class=" pr-lg-5">
                                            <p class="car__row"><span class="font-weight-bold">Cambio: </span><span class="font-weight-light">Manuale</span></p>
                                            <p class="car__row"><span class="font-weight-bold">Caratteristiche: </span><span class="font-weight-light">1.2</span></p>
                                            <p class="car__row"><span class="font-weight-bold">Carburante: </span><span class="font-weight-light">GPL</span></p>
                                            <p class="car__row"><span class="font-weight-bold">Porte: </span><span class="font-weight-light">5</span></p>
                                            <p class="car__row"><span class="font-weight-bold">Anni contratto: </span><span class="font-weight-light">2</span></p>
                                        </div>

                                    </div>


                                </div>
                                <div class=" car__model">
                                    Panda
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 ">
                            <div class="bg-blue2 pt-4 pb-4  text-center d-flex align-items-center justify-content-center ">
                                <div>
                                    <div class="car__info">
                                        <h6>Mesi</h6>
                                        <p>48</p>
                                    </div>
                                    <div class="car__info">
                                        <h6>Km</h6>
                                        <p>25000 all’anno</p>
                                    </div>
                                    <div class="car__info">
                                        <h6>Anticipo</h6>
                                        <p>0</p>
                                    </div>
                                    <div class="car__price">
                                        <h6>229,00 €/m</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container car">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-2">
                            <div class="bg-white d-flex align-items-center justify-content-center">
                                <div class="row">
                                    <div class="col-lg-5 mb-4 d-flex align-items-center justify-content-center ">
                                        <img src="./assets/images/noleggio/giulia.png" alt="" class="car__img">
                                    </div>
                                    <div class="col-lg-7 mb-4 d-flex align-items-center justify-content-center ">
                                        <div class=" pr-lg-5">
                                            <p class="car__row"><span class="font-weight-bold">Cambio: </span><span class="font-weight-light">Manuale</span></p>
                                            <p class="car__row"><span class="font-weight-bold">Caratteristiche: </span><span class="font-weight-light">1.2</span></p>
                                            <p class="car__row"><span class="font-weight-bold">Carburante: </span><span class="font-weight-light">GPL</span></p>
                                            <p class="car__row"><span class="font-weight-bold">Porte: </span><span class="font-weight-light">5</span></p>
                                            <p class="car__row"><span class="font-weight-bold">Anni contratto: </span><span class="font-weight-light">2</span></p>
                                        </div>

                                    </div>


                                </div>
                                <div class=" car__model">
                                    Alfa Giulia
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 ">
                            <div class="bg-blue2 pt-4 pb-4  text-center d-flex align-items-center justify-content-center ">
                                <div>
                                    <div class="car__info">
                                        <h6>Mesi</h6>
                                        <p>48</p>
                                    </div>
                                    <div class="car__info">
                                        <h6>Km</h6>
                                        <p>25000 all’anno</p>
                                    </div>
                                    <div class="car__info">
                                        <h6>Anticipo</h6>
                                        <p>0</p>
                                    </div>
                                    <div class="car__price">
                                        <h6>519,00 €/m</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container text-center mt-4">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <p>Non vedi qui l’auto dei tuoi sogni e vuoi un preventivo personalizzato?
                        </p>
                        <span class="borderButton borderButton--lightBlue mt-3">
                            <a href="" class="btn btn-white border-radius-50 font-size-08">Contattaci</a>
                        </span>
                    </div>
                </div>

            </div>
        </div>
        <div class="container p-t-4 p-b-4">
                <div class="row pb-4 text-blue">
                        <div class="col-lg-9 mx-auto p-lg-0 text-center text-lg-left">
                            <h3>Ancora <br> <span class="font-weight-bold">qualche esempio</span> </h3>
                        </div>
                    </div>
            <div class="row">
                <div class="col-lg-3 ml-lg-auto">
                    <div class="carList">
                        <div class="carList__header" style="background-image: url('./assets/images/noleggio/fiat-doblo-cargo.png')">

                        </div>
                        <div class="carList__footer bg-blue1">
                            <div class="model">
                                <p>Cargo</p>
                            </div>
                            <div class="price">
                                <p> 299€/m</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="carList">
                        <div class="carList__header" style="background-image: url('./assets/images/noleggio/fiat-ducato.png')">

                        </div>
                        <div class="carList__footer bg-blue1">
                            <div class="model">
                                <p>Ducat</p>
                            </div>
                            <div class="price">
                                <p> 399€/m</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mr-lg-auto">
                    <div class="carList">
                        <div class="carList__header" style="background-image: url('./assets/images/noleggio/fiat-talento-combi.png')">

                        </div>
                        <div class="carList__footer bg-blue1">
                            <div class="model">
                                <p>e Talento</p>
                            </div>
                            <div class="price">
                                <p> 349€/m</p>
                            </div>
                                    
                                   
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5 pb-4 text-blue">
                    <div class="col-lg-9 mx-auto p-lg-0 pl-lg-3 text-center text-lg-left">
                        <div class="row">
                            <div class="col-lg-6 mt-4">
                                <p>Veicoli commerciali realizzati sulle tue esigenze. Sei un elettricista, un idraulico o un manutentore? Abbiamo delle configurazioni adatte alle tue necessità, scrivici per un preventivo gratuito.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <vue-footer></vue-footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./assets/js/vendors.min.js"></script>
    <script type="text/javascript" src="./assets/js/vue-dep.js"></script>
    <script type="text/javascript" src="./assets/js/vue.js"></script>
    <script type="text/javascript" src="./assets/js/app.js"></script>
</body>

</html>