.position-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.logo {
    width: 80%;
    position: relative;
    z-index: 1;
}

.lineBold {
    width: 10%;
    height: 6px;
    background-color: #fff;
}

.bg-arrows-left {
    width: 100%;
    @extend .bg-cover;
    background-image: url('/assets/images/arrows-left.png');
}
.height-18 {
    height: 18em;
}
.icon {
    width: 4em;
}

.font-size-08 {
    font-size: .8em;
}

.font-size-06 {
    font-size: .6em;
}

.p-t-4 {
    padding-top: 4em;
}

.p-6 {
    padding: 6em;
    @media screen and (max-width: map-get($grid-breakpoints, md)) {
        padding:2em;
    }
}
.p-4 {
    padding: 3em 4em!important;

    @media screen and (max-width: map-get($grid-breakpoints, md)) {
        padding:1em!important;
    }
}

.p-b-4 {
    padding-bottom: 4em;
}

.m-b-4 {
    margin-bottom: 4em;
}

.borderDotted {
    border-bottom: 1px dotted;
    &--white {
        border-color: #fff;
    }
}

.borderButton {
    border: 1px solid;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 50px;
    &--lightBlue {
        border-color: map-get($colors, blue_light);
    }
    .btn {
        padding-left: 2.2em;
        padding-right: 2.2em;
    }
}
.text-blue {
    color: #3247B2;
}
.carList {
    &__header {
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 15em;

    }
    &__footer {
        padding: 8px 15px;
        .model {
            width: 70%;
            border-right: 1px solid #fff;

        }
        .price {
            width: 20%;
        }
        .model,.price {
            display: inline-block;
            padding: 0 5px;
        }
    }
}
.car {
    .bg-white,.bg-blue2 {
        height: 18em;
        position: relative
    }
    .bg-white {
        @media screen and (max-width: map-get($grid-breakpoints, md)) {
            height: 33em;
        }
    }
    .bg-blue2 {
        @media screen and (max-width: map-get($grid-breakpoints, md)) {
            height: 16em;
        }
    }
    &__img {

    }
    &__info {
        margin-bottom: 1em;
        h6 {
            color: #19E0FF;
            
        }
    }
    &__price {
        margin-bottom: 1em;
        h6 {
            color: #fff;
            padding-bottom: 4px;
            border-bottom: 1px solid #19E0FF;
            
        }
    }
    &__row {
        border-bottom: 1px solid #3247B2;
        margin-bottom: 5px;
    }
    &__model {
        background-color:#232C60;
        position: absolute;
        bottom: 0;
        left:0;
        right:0;
        text-align: center;
        padding: 8px 0; 
        color: #fff;
       

    }
}
.border-radius-50 {
    border-radius: 50px;
}
.height-100 {
    height: 100%;
}
.bg-blue1 {
    background-color: map-get($colors, blue_1);
    color: #fff;
}
.bg-blue2 {
    background-color:#232C60;
    color: #fff;
}
.bg-white {
    background-color: #fff;
    color: map-get($colors, blue_1);
}
.bg-gray {
    background-color: #f8f8f8;
}

.box-shadow {
    box-shadow: 1px 4px 12px 0 rgba(50, 71, 178, 0.27);
}

.width-80 {
    width: 80%;
}
.owl-prev,.owl-next {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #19E0FF;
    border-radius: 100%;
    top: calc(50% - 20px);
    @extend .position-center;
    color: #fff;
    font-size: 20px;
    
}
.owl-prev {
    left: 10%;
}
.owl-next {
    right: 10%;
}
// .owl-item {
//     height: 20em!important;
// }
.icon {
    width: 7em;
}
.list-style {
    padding-left: 30px;
    li {
        list-style-type: disc;
        
    }
   
}