.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.logo {
    width: 80%;
    position: relative;
    z-index: 1;
}

.lineBold {
    width: 10%;
    height: 6px;
    background-color: #fff;
}

.bg-arrows-left {
    width: 100%;
    @extend .bg-cover;
    background-image: url('/assets/images/arrows-left.png');
}

.icon {
    width: 4em;
}

.font-size-08 {
    font-size: .8em;
}

.font-size-06 {
    font-size: .6em;
}

.p-t-4 {
    padding-top: 4em;
}

.p-6 {
    padding: 6em;
}

.p-b-4 {
    padding-bottom: 4em;
}

.m-b-4 {
    margin-bottom: 4em;
}

.borderDotted {
    border-bottom: 1px dotted;
    &--white {
        border-color: #fff;
    }
}

.borderButton {
    border: 1px solid;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 50px;
    &--lightBlue {
        border-color: map-get($colors, blue_light);
    }
    .btn {
        padding-left: 2.2em;
        padding-right: 2.2em;
    }
}

.border-radius-50 {
    border-radius: 50px;
}

.bg-blue1 {
    background-color: map-get($colors, blue_1);
    color: #fff;
}

.bg-white {
    background-color: #fff;
    color: map-get($colors, blue_1);
}

.box-shadow {
    box-shadow: 1px 4px 12px 0 rgba(50, 71, 178, 0.27);
}

.width-80 {
    width: 80%;
}